<div class='hour-grid' id="<%= @week_day_hour.iso_id %>">
  <span class="day-work-hour-selection <%= @style_class %>" phx-click="selected_hour"
        phx-target="<%= @myself %>">
    <strong><%= @week_day_hour.formatted %></strong>
  </span>
</div>
