<div class='hour-grid' id="<%= @week_day_hour_id %>">
  <span phx-click="selected_hour"
        phx-target="<%= @myself %>">
    <%= @week_day_hour.formatted %>
    <%= @week_day_hour.available %>
  </span>
</div>
