<div class='week-day'>
  <div class='day-header'>
    <h3>
      <%= @week_day.day_name %>
    </h3>
  </div>
  <div class='hours-grid'>
    <%= for week_day_hour <- @week_day.available_week_hours do %>
      <%= live_component @socket, InterviewPlannerWeb.MeetingLive.WeekdayHourComponent,
        id: "iso_#{week_day_hour.iso}",
        week_day_hour: week_day_hour,
        available: week_day_hour.available %>
    <% end %>
  </div>
</div>
